/_build
/cover
/deps
/doc
/references
*.snapshot
erl_crash.dump
*.ez
*.tar
.DS_Store
.iex.exs

# Generated erlang source
/src/*.erl

# asdf
.tool-versions

# timezone data
/priv/timezones-geodata.json
/priv/timezones-geodata.etf
/priv/timezones-geodata.etf.zip
/priv/timezones-geodata.json.zip
TIMEZONES_GEOJSON_VERSION
