name: Elixir CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup elixir
      uses: actions/setup-elixir@v1
      with:
        elixir-version: '1.10.3' # Define the elixir version [required]
        otp-version: '23.0' # Define the OTP version [required]
    - name: Install Dependencies
      run: mix deps.get
    - name: Download shape data
      run: mix tz_world.update
    - name: Run Tests
      run: mix test
      